body,html{
  margin:0;
  font-family: Arial;
  width: 100%;
  position: relative;
  background: white;
}
div{
  margin: 0;
}
.App{
  z-index: 2;
}

#result {
  height: 150px;
  overflow: scroll;
}
#person{
  display: none;
  background: #282c34;
  color: white;
}
#header{
  background: #454545;
  font-weight: bold;
  color: white;
  margin-left:0;
}
#topic{
  text-align: left;
}
#menu{
  float: right;
  width: 25%;
}

div span{
  display: none;
}
table{
  width: 100%;
}
tbody{
  width: 100%;
  margin-top: 20px;
  color: white;
  height: 100px;
  overflow: scroll;
  background: #454545;
}
thead{
  width: 100%;
  color: white;
  padding: 100px;
  background: #282c34;
}



/*PHONE*/
@media (max-width: 851px){
  #logout{
    width: 50%;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }

  #header{
    height: 70px;
    width: 100%;
  }
  #topic{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    text-align: left;
    margin-top: 20px;
    width: 70%;
  }
  #person{
    position: absolute;
    top: 70px;
    right: 0px;
    z-index: 10;
    width: 40%;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 20px;
    font-size: 13pt;
  }
  #name{
    display: none;
  }
  div{
    width: 100%;
  }
  #clockPlace{
    width: 100%;
  }
  #clock{
    display: block;
    margin-left: 17%;
  }
  #message{
    position: relative;
    z-index: 4;
    font-size: 16px;
    color: dimgrey;
  }
  #login,#password{
    width: 250px;
    position: relative;
    z-index: 4;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
  }

  #imgmenu{
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
  }
  #loginButton,#registerButton{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 15px;
    padding: 5pt;
    opacity: 0.8;
  }

  #actionPlace{
    display: block;
    position: relative;
    float: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-radius: 10%;
    border-style: outset;
    border-width: 10px;
  }


  #xSelector,#rSelector,#yInput{
    width: 70%;
    font-size: 100%;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #f0f0f0;
  }
  #description{
    margin: 0px;
    margin-left: 15%;
    font-size: 100%;
    text-align: left;
    font-weight: bold;
    color: #454545;
  }
  ul  {
    z-index: 10;
    background: lightgrey;
    text-align: left;
    width: 70%;
    font-size: 15pt;
    color: #454545;
    margin: auto;
    padding: 0px;
    list-style-type: none;
    border-width: 2px;
    border-color: darkgray;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  li{
    padding-left: 20px;
    border-top-style: solid;
    border-top-color: #e77340;
  }
  #result{
    margin-top: 20px;
    height: 250px;
    overflow: scroll;
  }
  #send{
    width: 50%;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }
  #valuesMessage{
    font-size: 20px;
    font-weight: revert;
  }

  td{
    font-size: 12px;
  }

  tbody{
    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
    width: 100%;
    height: 200px;
    overflow: scroll;
  }
  thead{
    font-size: 22px;
  }
}
/*TABLET*/
@media (min-width: 851px)
and (max-width: 1086px) {
  #result {
    height: 250px;
    margin-right: 15px;
    margin-left: 15px;

    overflow: scroll;
  }
  #logout{
    width: 50%;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }

  p{
    margin: 2%;
    padding: 0%;
  }
  canvas{
    margin-left: 0px;
  }
  #header{
    height: 140px;
  }
  #topic{
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 10pt ;
    margin-top: 10px;
    width: 55%;
  }
  #menu{
    display: none;
  }
  #person{
    display: none;
  }
  #name{
    position: absolute;
    top: 0pt;
    float: right;
    margin-top: 1%;
    font-weight: bold;
    text-align: right;
    right: 20pt ;
    font-size: 20pt;
    width: 40%;
  }
  #message{
    padding: 10pt;
    position: relative;
    z-index: 4;
    font-size: 33pt;
    color: dimgrey;
  }
  #login{
    position: relative;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    font-size: 40pt;
    margin-top: 30px;
    padding: 10pt;
    border-radius: 30pt;
  }
  #password{
    z-index: 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 40pt;
    padding: 10pt;
    border-radius: 30pt;
  }
  #loginButton{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30pt;
    font-size: 30pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding: 10pt;
    opacity: 0.8;
  }
  #registerButton{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20pt;
    font-size: 30pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding: 10pt;
    opacity: 0.8;
  }

  #action{
    margin-top: 20px;
  }

  #actionPlace{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
    border-style: outset;
    border-width: 10px;
  }

  #inputField{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #xSelector,#rSelector,#yInput{
    width: 700px;
    font-size: 100%;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #f0f0f0;
  }
  #description{
    margin: 0px;
    margin-left: 15%;
    font-size: 150%;
    text-align: left;
    font-weight: bold;
    color: #454545;
  }
  ul  {
    z-index: 10;
    background: lightgrey;
    text-align: left;
    width: 700px;
    font-size: 15pt;
    color: #454545;
    margin: auto;
    padding: 0px;
    list-style-type: none;
    border-width: 2px;
    border-color: darkgray;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  li{
    padding-left: 20px;
    border-top-style: solid;
    border-top-color: #e77340;
  }
  #send {
    width: 50%;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }

  td{
    font-size: 30px;
  }
  #valuesMessage{
    font-size: 20px;
    font-weight: revert;
  }
  tbody{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100px;
    overflow: scroll;
    margin-bottom: 20px;
  }
  thead{
    font-size: 30px;
  }
  td{
    font-size: 20px;
  }
}
/*DESKTOP*/
@media (min-width: 1086px ) {
  #logout{
    width: 150px;
    font-size: 15px;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
  }

  #clock{
    float: left;
    width: 45%;
    height: 100%;
  }
  #header{
    height: 150px;
  }
  #imguser{
    margin-top: 30pt;
    width: 250px;
    height: 250px;
  }
  #topic{
    font-size: 40pt;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 10pt ;
    margin-top: 10pt;
    width: 55%;
  }
  #menu{
    display: none;
  }
  p{
    margin: 2%;
    padding: 0%;
  }
  #person{
    display: none;
  }
  #name{
    margin-top: 1%;
    position: absolute;
    top: 0pt;
    float: right;
    font-weight: bold;
    text-align: right;
    right: 20pt ;
    font-size: 24pt;
    width: 40%;
  }
  #message{
    position: relative;
    z-index: 4;
    font-size:20px;
    padding: 0px;
    color: dimgrey;
  }
  #login{
    position: relative;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    width: 350px;
    padding: 10pt;
    border-radius: 30pt;
  }
  #password{
    z-index: 4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    padding: 10pt;
    width: 350px;
    border-radius: 30pt;
  }
  #loginButton{
    float: left;
    width: 150px;
    margin-left: 75px;
    margin-top: 20px;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }


  #registerButton{
    float: right;
    width: 150px;
    margin-right: 75px;
    margin-top: 20px;
    font-size: 20pt;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    opacity: 0.8;
  }

  #action{
    float: left;
    width: 40%;
    height: 100%;
  }
  #actionPlace{
    float: left;
    margin: 50px;
    border-radius: 10%;
    border-style: outset;
    border-width: 10px;
  }
  #clockAction{
    width: 20%;
  }

  #inputPlace{
    float: right;
    width: 500px;
    margin-right: 20px;
    margin-top: 20px;
  }


  #xSelector,#rSelector,#yInput{
    width: 300px;
    font-size: 100%;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #f0f0f0;
  }
  #description{
    margin: 0px;
    margin-left: 100px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: #454545;
  }
  ul  {
    z-index: 10;
    background: lightgrey;
    text-align: left;
    width: 300px;
    font-size: 15px;
    color: #454545;
    margin: auto;
    padding: 0px;
    list-style-type: none;
    border-width: 2px;
    border-color: darkgray;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  li{
    padding-left: 20px;
    border-top-style: solid;
    border-top-color: #e77340;
  }
  #send{
    width: 150px;
    font-size: 15px;
    text-align: center;
    background: linear-gradient(#1C1C1C,black);
    color: white;
    border-radius: 25pt;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.8;
  }
  #valuesMessage{
    font-size: 15px;
    font-weight: revert;
  }
  #authorization{
    width: 500px;
    float: right;
  }
  thead{
    font-size: 20px;
  }
  td{
    font-size: 10px;
  }
  tbody{
    width: 1000%;
    height: 10px;
    overflow: scroll;
  }
}

@media (max-width: 280px) {
  #topic{
    font-size: 22px;
    margin-top: 0px;
  }
}

